#noSleep {
  height: 100px;
  width: 100%;
  border: 3px solid;
}

#noSleep > span {
  font-size: 16px;
  font-weight: 600;
}

.noSleep {
  background-color: red;
}

.sleep {
  background-color: green;
}

html {
  height: 100%;
}

body {
  margin: 0px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.touchDetection {
  background-color: grey;
  width: 100%;
  flex: 1 1 0;
}

.sensorContainer {
  height: 50px;
  width: 100%;
  display: flex;
}

.sensorContainer > div {
  flex: 1 0 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sensorContainer > div:not(:last-of-type) {
  border-right: 1px solid;
}

.activatedSensor{
  background-color: green;
}

